
.contact-form {

  label {
    display: inline-block;
    width: 200px;
  }

  input[type='text'], input[type='email'], input[type='date'] {
    width: 100%;

    &.ng-invalid.ng-touched {
      box-shadow: 0 0 2px 2px #d9534f;
    }
  }

  input[type='date'] {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 3%;
    width: 97%;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
  }

  .success-message, .error-message {
    display: inline-block;
    font-size: 1.0em;
    font-weight: bold;
    padding: 10px 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
  }

  .success-message {
    color: #5cb85c;
    border-color: #5cb85c;
  }

  .error-message {
    color: #d9534f;
    border-color: #d9534f;
  }

}